@import 'reset';
@import 'fonts';

$color-burlywood: #E3B873;
$color-burlywood-op: #E3B87388;

* {
	box-sizing: border-box;
	width: 100%;
}

body {
	font-family: 'FuturaBookC', Arial, Helvetica, sans-serif;
	background: #252525;
	font-size: 14px;
}

.checkbox {
	width: auto;
}

h2 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 138.6%;

	text-align: center;
	letter-spacing: -0.07em;
	text-transform: uppercase;

	color: $color-burlywood;
}


.btn {
	text-decoration: none;
	text-transform: uppercase;
	background-color: $color-burlywood;
	color: #FFFFFF;
	border: none;
	font-family: FuturaDemiC;
	font-size: 13px;
	line-height: 15px;
	display: grid;
	align-items: center;
	justify-items: center;
	transition: 0.2s linear;
}

.btn:hover {
	background: $color-burlywood-op;
}

.btn-link,
.btn-link:hover {
	background-color: unset;
}

.btn-primary {}

.btn-secondary {
	border: 1px solid #FFFFFF;
	background-color: unset;
}


// header
.header {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	padding: 18px;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 57px;
	align-items: center;
	justify-items: center;

	.header__title {
		font-family: FuturaDemiC;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: $color-burlywood;
	}

	.btn__link {
		font-family: FuturaDemiC;
		font-size: 12px;
		line-height: 14px;
	}
}


// introduction
.introduction {
	display: grid;
	grid-template-columns: 1fr;
	height: 476px;
	color: #FFFFFF;
	grid-template-rows: 51px auto;


	.introduction__substrate {
		grid-column: 1;
		grid-row: 1;
		background-image: url('/assets/img/bg-001.jpg');
		background-position: -170px;
		background-size: cover;
		height: inherit;
	}

	.introduction__inner {
		grid-column: 1;
		grid-row: 1;
		background: rgba(0, 0, 0, 0.7);
		padding: 85px 18px 61px 18px;
		// display: flex;
		// flex-direction: column;

		flex-direction: column;
		display: grid;
		grid-template-rows: 73px 129px auto;
		height: inherit;

		.introduction__title {
			font-family: 'Yeseva One', cursive;
			font-size: 23px;
			line-height: 132.83%;
			text-transform: uppercase;
			margin-bottom: 16px;
			color: #FFFFFF;
			text-align: left;
			letter-spacing: 0.05px;

			em {
				color: $color-burlywood;
			}
		}

		.introduction__description {
			font-family: FuturaBookC;
			font-size: 18px;
			line-height: 135.84%;
			margin-bottom: 32px;
			padding-right: 40px;
		}

		.btn {
			height: 51px;
			width: 100%;
		}

		.btn-primary {
			margin-bottom: 26px;
		}
	}
}


// completed
.completed {
	display: grid;
	grid-template-columns: 1fr;
	// grid-template-rows: auto;
	grid-template-rows: 85px 126px 277px 173px;

	color: #FFFFFF;
	padding: 34px 18px 0 18px;

	.completed__title {
		font-family: Yeseva One;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 138.6%;

		text-align: center;
		letter-spacing: -0.07em;
		text-transform: uppercase;
	}

	.completed__description {
		font-family: FuturaBookC;
		font-size: 14px;
		line-height: 158.48%;
		text-align: center;
		padding: 0 10px;

		letter-spacing: 0.1px;
	}

	.completed__slider {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;

		margin-bottom: 36px;

		.img {
			grid-column: 1;
			grid-row: 1;
		}

		.btn-slider-left {
			grid-column: 1;
			grid-row: 1;
			margin: 0 0 0 14px;
		}

		.btn-slider-right {
			grid-column: 1;
			grid-row: 1;
			margin: 0 14px 0 auto;
		}

		.btn-slider-left,
		.btn-slider-right {
			width: 36px;
			height: 36px;
			border-radius: 50%;

			img {
				height: 14px;
				width: 8px;
				margin: 0 auto;
			}
		}

	}

	.completed__properties {
		display: grid;
		// grid-template-columns: 1fr 1fr;
		grid-template-columns: 160px 1fr;
		grid-template-rows: auto auto;

		li {
			h3 {
				font-family: Yeseva One;
				font-size: 14px;
				line-height: 138.6%;
				text-transform: uppercase;
				color: $color-burlywood;
				margin-bottom: 12px;
			}

			p {
				font-family: FuturaBookC;
				font-size: 14px;
				line-height: 135.84%;
				color: #FFFFFF;
				margin-bottom: 27px;
			}
		}
	}
}


// control
.control {
	display: grid;
	padding: 27px 18px;
	grid-template-rows: 49px 70px 234px 18px 171px;

	.control__title {
		color: #FFFFFF;
		font-size: 25px;
	}

	.control__img {
		height: 28px;
		width: 114px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.control__video {
		height: 207px;
		width: 340px;
		margin: 0 auto;
		margin-bottom: 28px;
	}

	.control__img-line {
		width: 55px;
		height: 1.54px;
		margin: 0 auto;
		margin-bottom: 21px;
	}

	.control__description {
		font-family: FuturaBookC;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		line-height: 24px;
		letter-spacing: 0.1px;
	}

	.control__form {

		label {
			font-family: FuturaBookC;
			font-size: 15px;
			line-height: 18px;
			color: rgba(255, 255, 255, 0.5);
			letter-spacing: 0.5px;
		}

		input {
			font-family: FuturaBookC;
			font-size: 18px;
			line-height: 138.72%;
			color: #FFFFFF;
			border: 0;
			background: unset;
		}

		::placeholder {
			color: #FFFFFF;
		}

		.control__form-name,
		.control__form-tel {
			border-bottom: 1px solid #FFFFFF;
		}

		.control__form-name {
			margin-bottom: 63px;
		}

		.control__form-tel {
			margin-bottom: 26px;
		}

		.control__form-checkbox-agree {
			width: auto;
			margin-bottom: 67px;
			letter-spacing: 0.5px;
		}

		label[for="control__form-checkbox-agree"] {
			color: #FFFFFF;
		}

		.btn {
			height: 51px;
			text-decoration: none;
			text-transform: uppercase;
			background-color: $color-burlywood;
			color: #FFFFFF;
			border: none;
			font-family: FuturaDemiC;
			font-size: 13px;
			line-height: 15px;
			display: grid;
			align-items: center;
			justify-items: center;
			transition: 0.2s linear;
		}

		.btn:hover {
			background: $color-burlywood-op;
		}

		.control__btn-submit {
			padding-top: 5px;
			font-size: 15px;
		}
	}
}


// repair
.repair {
	position: relative;
	top: -51px;
	z-index: -1;
	background: #FFFFFF;

	display: grid;
	grid-template-rows: 108px 68px;

	padding: 18px;

	.repair__title {
		margin-top: 62px;
		color: #181818;
		letter-spacing: normal;
	}

	.repair__img {
		height: 28px;
		width: 114px;
		margin: 0 auto;
	}

	.repair__article {
		display: grid;
		grid-template-columns: 190px 80px 70px;
		grid-template-rows: 223px 142px 79px 20px 20px;
		// margin-bottom: 59px;
		padding-bottom: 59px;

		.repair__article-img {
			grid-column: 1/span 3;
			grid-row: 1/span 2;
		}
		.repair__article-img:nth-child(2){
background: #E3B873;
		}

		.repair__description {
			grid-column: 1/span 2;
			grid-row: 2/span 3;
			background: #FFFFFF;

			font-family: "FuturaBookC";
			font-size: 13px;
			line-height: 22px;
			color: #959595;
			box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);

			padding: 21px 0 0 31px;

			.repair__article-title {
				font-family: "Yeseva One";
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 21px;
				color: #363636;
				margin-bottom: 5px;
			}
		}

		.repair__article-price {
			grid-column: 1/span 1;
			grid-row: 4/span 2;

			background: $color-burlywood;
			color: #FFFFFF;

			display: grid;
			align-items: center;
			justify-items: center;

			font-family: Yeseva One;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 21px;

			text-transform: uppercase;
		}
	}
}










// map
.map {
	.map__wrap {
		height: 255px;
		max-width: 340px;
		width: 100%;
		margin: 0 auto;
	}
}