@import 'reset';
@import 'fonts';

$color-burlywood: #E3B873;
$color-burlywood-op: #E3B87388;

* {
	box-sizing: border-box;
	width: 100%;
}

body {
	font-family: 'FuturaBookC', Arial, Helvetica, sans-serif;
	background: #252525;
	font-size: 14px;
}

h2 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 138.6%;

	text-align: center;
	letter-spacing: -0.07em;
	text-transform: uppercase;

	color: $color-burlywood;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	background-color: $color-burlywood;
	color: #FFFFFF;
	border: none;
	font-family: FuturaDemiC;
	font-size: 13px;
	line-height: 15px;
	display: grid;
	align-items: center;
	justify-items: center;
	transition: 0.2s linear;
}

.btn:hover {
	background: $color-burlywood-op;
}

.btn-link,
.btn-link:hover {
	background-color: unset;
}

.btn-primary {}

.btn-secondary {
	border: 1px solid #FFFFFF;
	background-color: unset;
}

// header
.header {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	padding: 18px;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	width: 100%;
	align-items: center;
	justify-items: center;

	.header-title {
		font-family: FuturaDemiC;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: $color-burlywood;
	}

	.btn-link {
		font-family: FuturaDemiC;
		font-size: 12px;
		line-height: 14px;
	}
}

// introduction
.introduction {
	display: grid;
	grid-template-columns: 1fr;
	height: 476px;
	color: #FFFFFF;

	.introduction-substrate {
		grid-column: 1;
		grid-row: 1;
		background-image: url('/assets/img/bg-001.jpg');
		background-size: cover;
	}

	.introduction-inner {
		grid-column: 1;
		grid-row: 1;
		background: rgba(0, 0, 0, 0.7);
		padding: 85px 18px 61px 18px;
		display: flex;
		flex-direction: column;

		.introduction-title {
			font-family: 'Yeseva One', cursive;
			font-size: 23px;
			line-height: 132.83%;
			text-transform: uppercase;
			margin-bottom: 16px;

			em {
				color: $color-burlywood;
			}
		}

		.introduction-description {
			font-family: FuturaBookC;
			font-size: 18px;
			line-height: 135.84%;
			margin-bottom: 32px;
		}

		.btn {
			height: 51px;
			width: 100%;
		}

		.btn-primary {
			margin-bottom: 26px;
		}
	}
}

// completed
.completed {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	color: #FFFFFF;
	padding: 36px 18px 0 18px;

	.completed-title {
		font-family: Yeseva One;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 138.6%;

		text-align: center;
		letter-spacing: -0.07em;
		text-transform: uppercase;

		margin-bottom: 22px;
	}

	.completed-description {
		font-family: FuturaBookC;
		font-size: 14px;
		line-height: 158.48%;
		text-align: center;

		margin-bottom: 36px;
	}

	.completed-slider {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		
		margin-bottom: 36px;

		.img {
			grid-column: 1;
			grid-row: 1;
		}

		.btn-slider-left {
			grid-column: 1;
			grid-row: 1;
			margin: 0 0 0 14px;
		}

		.btn-slider-right {
			grid-column: 1;
			grid-row: 1;
			margin: 0 14px 0 auto;
		}

		.btn-slider-left,
		.btn-slider-right {
			width: 36px;
			height: 36px;
			border-radius: 50%;

			.icon {
				height: 14px;
				width: 8px;
				margin: 0 auto;
			}
		}

	}

	.completed-properties {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;

		li {
			h3 {
				font-family: Yeseva One;
				font-size: 14px;
				line-height: 138.6%;
				text-transform: uppercase;
				color: $color-burlywood;
				margin-bottom: 12px;
			}

			p {
				font-family: FuturaBookC;
				font-size: 14px;
				line-height: 135.84%;
				color: #FFFFFF;
				margin-bottom: 27px;
			}
		}
	}


}